<!doctype html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>SwipeUp</title>
<body>
    <div class="container">
        Hey!<br>
        So basically this is a website where you can post remarks to your peers, anonymously.
        This gives you an oppertunity to leave nice, courteous remarks about your fellow peers.
        You put in a username and then share the link provided. Since some usernames may have been used by others,
        there might be remarks already made. In that case you could continue using that username with the previous remarks or use
        a new username. 
        Some benefits we have are: 
        <ol>
            <li>1. We don't ask for emails, passwords, nada. So if we ever get hacked, there is none of your info to be stolen</li>
            <li>2. Quick and easy to attatch to any sort of online communication media</li>
            <li>3. Visually appealing and welcoming</li>
        </ol>
            Swipe Up by GraphiteSword from the Noun Project. <br>
            Swipe Up by GraphiteSword from the Noun Project has been edited <br>
            Disclaimer: Inevitably people might make some mean remarks. User discretion is advised. Refrain from using this app if you encounter offensive or unpleasant remarks. 
        Thanks for stopping by!
        <hr>
        <a href="/"><= Back</a>
        <hr>
        <p>
            Further notes: <br>
            Success.<br> 
            Just here for the fun.<br>
            More features might be on the way<br>
            :)<br>
        </p>
    </div>
</body>
</html>
