<!DOCTYPE html>
<html>
  <head>
    <title>SwipeUp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  </head>
  <body>
    <img src="/images/swipeup.svg" alt="SwipeUp Img">
    <main>
      <p>Welcome to SwipeUp</p>
      <hr>
        <% if (locals.thanks) { %>
          <div id="thanks">
            <%= thanks %>
          </div>
        <% } %>
      
      <form method="post" action="/">
        <input type="text" id="username" name="username"/>
        <input type="submit" value="Add username!"/>
      </form>
      <a href="/about">About/Instructions</a>
      <div id="mapp">
        By Mate👌 
      </div>
    </main>
  </body>
</html>
