<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SwipeUp</title>
</head>
<body>
    <form method="post" action="/user/s/<%= username %>">
        <input type="text" name="remark"/>
        <input type="hidden" name="username" value="<%= username %>">
        <input type="submit" value="Submit Remark ;)"/>
    </form>
</body>
</html>